.body{
  margin: 0;
}
.heroMain{
  background-color: black;
}
.html{
  margin: 0px;
  padding: 0px;
}
.SiteHeader{
  background-color: black;
  margin: 0px;
  padding: 0px;
}
.heroSiteTitle{
  color: white;
  padding-top: 15px;
  margin: 0;
  font-size: 140px;

}
h1{
  color: white;
  padding-top: 15px;
  margin: 0;

}
.ownedStockInfo{
  display: flex;
  justify-content: space-between;
}
.h3-mid{
  text-align: center;
}


button{
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;


}

.heroMain{
  padding: 70px;
}
.indexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}